.Texto-anim{
  margin: auto;
  display: table;
}
.h1-anim {
  float: left;
  color: white;
  position: relative;
}
.h1-anim  span{
  position: absolute;
  right: 0;
  width: 0;
  background: black;
  border-left: 1px solid #fff;
  animation: maquita 6s infinite alternate steps(41);
}

.p1,.p2{
  color: white;
}
@keyframes maquita{
  from{
    width: 100%;

  }
  to{
    width: 0;
  }
}

.descrip{
  border-color: #bbb;
}